* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;

}

body {
    background-color: #ffcc99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-top: 3rem;
}

.container {
    background-color: white;
    padding: 20px;
    margin: 3rem auto;
    border-radius: 15px;
    max-width: 800px;
    width: 80vw;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid black;
}

.hero {
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
}
.actions{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.lists-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.logout-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.content-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    border: 1px solid black;
}

.content-box h2 {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

li {
    padding: 0.75rem 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty-msg {
    font-style: italic;
    color: #777;
}

.btn {
    padding: 0.5rem 0.75rem;
    background-color: #ffcc99;
    border: 1px solid #333;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #000;
    transition: background-color 0.2s;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #e6b97e;
}

.btn.danger:hover {
    background-color: #e99a9a;
}

.btn.danger {
    background-color: #f77;
    color: black;
}

.footer {
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem 0;
    font-weight: 600;
    border: 1px solid black;
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-weight: bold;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.danger {
    background-color: #f8d7da;
    color: #721c24;
}
